body{
    background: url(https://www.xtrafondos.com/wallpaper/3840x2160/9639-darth-vader-y-avion-averiado.html#&gid=1&pid=2);
   
}

h1
{
    color: blue;
}

.container-fluid a{

color: aquamarine;
}